<div class="col-md-12">
    <h1><%= @wizard.fname %> <%= @wizard.lname %></h1>
    <p>House: <%= @wizard.house.name %></p>
    <p>Username: <%= @wizard.username %></p>
    <p><a href="/dashboard/wizards/<%= @wizard.id %>/edit">Edit</a></p>
</div>