<div class="col-md-12">
    <h1><%= @wizard.fname %> <%= @wizard.lname %></h1>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <td style="width: 1%; white-space:nowrap; text-align: right;">House:</td>
            <td><%= @wizard.house.name %></td>
        </tr>
        <tr>
            <td style="width: 1%; white-space:nowrap; text-align: right;">Username:</td>
            <td><%= @wizard.username %></td>
        </tr>
        <tr>
            <td style="width: 1%; white-space:nowrap; text-align: right;">Spells:</td>
            <td>
                <% if @wizard.student_spells != [] %>
                    <% @wizard.student_spells.each do |s| %>
                        <li><a href="/dashboard/spells/<%= s.id %>" title="<%= s.effect %>"><%= s.name %></a></li>
                    <% end %>
                <% else %>
                    <%= @wizard.fname %> does not know any spells.
                <% end %>
            </td>
        </tr>
    </table>
    <% if session[:user].id == @wizard.id %>
        <p><a href="/dashboard/wizards/<%= @wizard.id %>/edit" class="btn btn-warning">Edit</a></p>
    <% end %>
</div>